In [184]:
import geopandas as gpd
import pandas as pd
import numpy as np

### Upload and clean raw sales data

In [185]:
file_path = '..\\data\\sales-data-raw.csv'
df_sales_data = pd.read_csv(file_path)

df_sales_data = df_sales_data[~df_sales_data.index.duplicated(keep='first')]

# delete unreliable data
del df_sales_data['COMMUNITY']
del df_sales_data['TYPE']
del df_sales_data['PARCEL_NO']
del df_sales_data['BSMT']
del df_sales_data['BDRMS+']

# examine raw sales data
df_sales_data.head()

,ADDRESS,LIST_PRICE,SOLD_ON,SELL_PRICE,DOM,BDRMS,SIZE_SQFT,AGE,STYLE,ASS_YR,ASS_AMT,TAX_YR,TAX_AMT,LOT_DPTH,LOT_FRNT,LAT,LON
0,1 Darby Road,"$799,900",['Sold on Sep 21 2021'],"$961,000",4,4,1500-2000,31-50 years,2-Storey,-,-,2021,5061.76,110.05,58.51,43.5219349,-80.2804549
1,1 Eastview Road,"$774,900",['Sold on Jul 17 2021'],"$890,000",4,3,-,-,Bungalow,-,-,2021,4685,66.56,128.00,43.564967,-80.24186
2,1 Fernbank Place,"$1,199,900",['Sold on Sep 17 2021'],"$1,385,000",6,3,2000-2500,31-50 years,2-Storey,2021,544000,2021,6110,-,93.00,43.502716,-80.237331
3,1 Porter Drive,"$989,888",['Sold on May 17 2021'],"$1,065,000",7,4,-,-,2-Storey,-,-,2021,6042,-,48.75,43.506626,-80.189371
4,1 Simmonds Drive,"$899,900",['Sold on May 26 2021'],"$999,000",5,3,2000-2500,6-15 years,2-Storey,-,-,2021,5053,115,47.00,43.5791034,-80.269716

In [186]:
#capitalize addresses and remove trailing space 
df_sales_data['ADDRESS'] = df_sales_data['ADDRESS'].str.upper()
df_sales_data['ADDRESS'] = df_sales_data['ADDRESS'].str.strip()

In [187]:
#clean LIST_PRICE and SELL_PRICE columns
df_sales_data['LIST_PRICE'] = df_sales_data['LIST_PRICE'].str.replace('$', '', regex=True)
df_sales_data['LIST_PRICE'] = df_sales_data['LIST_PRICE'].str.replace(',', '', regex=True)
df_sales_data['LIST_PRICE'] = df_sales_data['LIST_PRICE'].replace('-', np.nan, regex=True)
df_sales_data['LIST_PRICE'] = df_sales_data['LIST_PRICE'].astype(float)

df_sales_data['SELL_PRICE'] = df_sales_data['SELL_PRICE'].str.replace('$', '', regex=True)
df_sales_data['SELL_PRICE'] = df_sales_data['SELL_PRICE'].str.replace(',', '', regex=True)
df_sales_data['SELL_PRICE'] = df_sales_data['SELL_PRICE'].replace('-', np.nan, regex=True)
df_sales_data['SELL_PRICE'] = df_sales_data['SELL_PRICE'].astype(float)

#clean SOLD_ON column
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("Sold on ", '', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("[", '', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("'", '', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("]", '', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace(" 2021", ', 2021', regex=True)

df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("Jan", 'January', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("Feb", 'February', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("Mar", 'March', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("Apr", 'April', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("Jun", 'June', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("Jul", 'July', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("Aug", 'August', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("Sep", 'September', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("Oct", 'October', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("Nov", 'November', regex=True)
df_sales_data['SOLD_ON'] = df_sales_data['SOLD_ON'].str.replace("Dec", 'December', regex=True)

In [188]:
#clean DOM column
df_sales_data['DOM'] = df_sales_data['DOM'].replace('-', np.nan, regex=True)
df_sales_data['DOM'] = df_sales_data['DOM'].astype(float)

#clean BDRMS column
df_sales_data['BDRMS'] = df_sales_data['BDRMS'].replace('-', np.nan, regex=True)
df_sales_data['BDRMS'] = df_sales_data['BDRMS'].astype(float)

#clean BDRMS+ column
#df_sales_data['BDRMS+'] = df_sales_data['BDRMS+'].replace('-', np.nan, regex=True)
#df_sales_data['BDRMS+'] = df_sales_data['BDRMS+'].astype(float)

In [189]:
#clean SIZE_SQFT column
df_sales_data['SIZE_SQFT'] = df_sales_data['SIZE_SQFT'].str.replace(r'(?<=-)[0-9]', '', regex=True)
df_sales_data['SIZE_SQFT'] = df_sales_data['SIZE_SQFT'].str.replace(r'(?<=-)[0-9]', '', regex=True)
df_sales_data['SIZE_SQFT'] = df_sales_data['SIZE_SQFT'].str.replace(r'(?<=-)[0-9]', '', regex=True)
df_sales_data['SIZE_SQFT'] = df_sales_data['SIZE_SQFT'].str.replace(r'(?<=-)[0-9]', '', regex=True)
df_sales_data['SIZE_SQFT'] = df_sales_data['SIZE_SQFT'].str.replace('< ', '', regex=True)
df_sales_data['SIZE_SQFT'] = df_sales_data['SIZE_SQFT'].str.replace('-', '', regex=True)

df_sales_data['SIZE_SQFT'] = df_sales_data['SIZE_SQFT'].replace('', np.nan, regex=True)
df_sales_data['SIZE_SQFT'] = df_sales_data['SIZE_SQFT'].astype(float)

In [190]:
#clean AGE column
df_sales_data['AGE'] = df_sales_data['AGE'].str.replace(' years', '', regex=True)
df_sales_data['AGE'] = df_sales_data['AGE'].str.replace(r'[0-9](?=-)', '', regex=True)
df_sales_data['AGE'] = df_sales_data['AGE'].str.replace(r'[0-9](?=-)', '', regex=True)
df_sales_data['AGE'] = df_sales_data['AGE'].str.replace('-', '', regex=True)
df_sales_data['AGE'] = df_sales_data['AGE'].str.replace('+', '', regex=True)
df_sales_data['AGE'] = df_sales_data['AGE'].str.replace('New', '0', regex=True)

df_sales_data['AGE'] = df_sales_data['AGE'].replace('', np.nan, regex=True)
df_sales_data['AGE'] = df_sales_data['AGE'].astype(float)

In [191]:
#clean ASS_YR column
df_sales_data['ASS_YR'] = df_sales_data['ASS_YR'].replace('-', '', regex=True)
df_sales_data['ASS_YR'] = df_sales_data['ASS_YR'].replace('', np.nan, regex=True)
df_sales_data['ASS_YR'] = df_sales_data['ASS_YR'].astype(float)

#clean ASS_AMT column
df_sales_data['ASS_AMT'] = df_sales_data['ASS_AMT'].replace('-', '', regex=True)
df_sales_data['ASS_AMT'] = df_sales_data['ASS_AMT'].replace('', np.nan, regex=True)
df_sales_data['ASS_AMT'] = df_sales_data['ASS_AMT'].astype(float)

#clean TAX_YR column
df_sales_data['TAX_YR'] = df_sales_data['TAX_YR'].replace('-', '', regex=True)
df_sales_data['TAX_YR'] = df_sales_data['TAX_YR'].replace('', np.nan, regex=True)
df_sales_data['TAX_YR'] = df_sales_data['TAX_YR'].astype(float)

#clean TAX_AMT column
df_sales_data['TAX_AMT'] = df_sales_data['TAX_AMT'].replace('-', '', regex=True)
df_sales_data['TAX_AMT'] = df_sales_data['TAX_AMT'].replace('', np.nan, regex=True)
df_sales_data['TAX_AMT'] = df_sales_data['TAX_AMT'].astype(float)

In [192]:
#clean LOT_DPTH column
df_sales_data['LOT_DPTH'] = df_sales_data['LOT_DPTH'].replace('-', '', regex=True)
df_sales_data['LOT_DPTH'] = df_sales_data['LOT_DPTH'].replace('', np.nan, regex=True)
df_sales_data['LOT_DPTH'] = df_sales_data['LOT_DPTH'].astype(float)

#clean LOT_FRNT column
df_sales_data['LOT_FRNT'] = df_sales_data['LOT_FRNT'].replace('-', '', regex=True)
df_sales_data['LOT_FRNT'] = df_sales_data['LOT_FRNT'].replace('', np.nan, regex=True)
df_sales_data['LOT_FRNT'] = df_sales_data['LOT_FRNT'].astype(float)

In [193]:
#convert LON and LAT to float
#df_sales_data['LON'] = df_sales_data['LON'].apply(lambda x : np.nan if x == '-' else x)
#df_sales_data['LON'] = df_sales_data['LON'].astype(float)

#df_sales_data['LAT'] = df_sales_data['LAT'].apply(lambda x : np.nan if x == '-' else x)
#df_sales_data['LAT'] = df_sales_data['LAT'].astype(float)

In [194]:
# collapse different housing styles, ex. '2-Storey' -> 'Storey'
mask = df_sales_data['STYLE'].str.contains(r'Storey', na=True)
df_sales_data.loc[mask, 'STYLE'] = df_sales_data['STYLE']
df_sales_data['STYLE'] = df_sales_data['STYLE'].ffill()
df_sales_data.loc[mask, 'STYLE'] = 'Storey'

mask = df_sales_data['STYLE'].str.contains(r'Bunga', na=True)
df_sales_data.loc[mask, 'STYLE'] = df_sales_data['STYLE']
df_sales_data['STYLE'] = df_sales_data['STYLE'].ffill()
df_sales_data.loc[mask, 'STYLE'] = 'Bungalow'

mask = df_sales_data['STYLE'].str.contains(r'Sidesplit', na=True)
df_sales_data.loc[mask, 'STYLE'] = df_sales_data['STYLE']
df_sales_data['STYLE'] = df_sales_data['STYLE'].ffill()
df_sales_data.loc[mask, 'STYLE'] = 'Sidesplit'

mask = df_sales_data['STYLE'].str.contains(r'Backsplit', na=True)
df_sales_data.loc[mask, 'STYLE'] = df_sales_data['STYLE']
df_sales_data['STYLE'] = df_sales_data['STYLE'].ffill()
df_sales_data.loc[mask, 'STYLE'] = 'Backsplit'

In [195]:
# examine cleaned sales data
df_sales_data.head()

,ADDRESS,LIST_PRICE,SOLD_ON,SELL_PRICE,DOM,BDRMS,SIZE_SQFT,AGE,STYLE,ASS_YR,ASS_AMT,TAX_YR,TAX_AMT,LOT_DPTH,LOT_FRNT,LAT,LON
0,1 DARBY ROAD,799900.0,"September 21, 2021",961000.0,4.0,4.0,1500.0,50.0,Storey,NaN,NaN,2021.0,5061.76,110.05,58.51,43.5219349,-80.2804549
1,1 EASTVIEW ROAD,774900.0,"July 17, 2021",890000.0,4.0,3.0,NaN,NaN,Bungalow,NaN,NaN,2021.0,4685.00,66.56,128.00,43.564967,-80.24186
2,1 FERNBANK PLACE,1199900.0,"September 17, 2021",1385000.0,6.0,3.0,2000.0,50.0,Storey,2021.0,544000.0,2021.0,6110.00,NaN,93.00,43.502716,-80.237331
3,1 PORTER DRIVE,989888.0,"May 17, 2021",1065000.0,7.0,4.0,NaN,NaN,Storey,NaN,NaN,2021.0,6042.00,NaN,48.75,43.506626,-80.189371
4,1 SIMMONDS DRIVE,899900.0,"May 26, 2021",999000.0,5.0,3.0,2000.0,15.0,Storey,NaN,NaN,2021.0,5053.00,115.00,47.00,43.5791034,-80.269716

### Upload single family dwelling property data and merge with sales data

In [ ]:
# load the single family dwelling (sfd) properties shapefile
properties_shp_file_path = '..\\..\\..\\guelph-geospatial\\data\\processed\\GIT-shps\\properties-sfd.shp'
gdf_properties = gpd.read_file(properties_shp_file_path)

# create a new Series 'ADDRESS' to be merged with df_sales_data['ADDRESS']
gdf_properties['ADDRESS'] = gdf_properties['address'].str.upper()

# convert the properties geodataframe to a pandas dataframe
df_properties = pd.DataFrame(gdf_properties.drop(columns='geometry'))

In [197]:
# merge dataframes using pandas merge() function
#props_w_sales = pd.merge(df_properties, df_sales_data, on='ADDRESS')
merged_sales_properties = pd.merge(df_properties, df_sales_data, how='left')

In [198]:
# remove features that shouldn't be modeled
truncated = merged_sales_properties.loc[:, 'shp__area':'SELL_PRICE']
del truncated['LIST_PRICE']
del truncated['SOLD_ON']
#truncated = truncated.select_dtypes(include=[np.number])

In [199]:
# split dataframe to create one dataframe of properties with sales and
# another dataframe with properties without sales
props_wo_sales = truncated[truncated['SELL_PRICE'].isnull()]
del props_wo_sales['SELL_PRICE']
props_wo_sales = props_wo_sales.dropna(axis=0)

props_w_sales = truncated[truncated['SELL_PRICE'].notna()]
props_w_sales = props_w_sales.dropna(axis=0)

### Output train and predict datasets

In [200]:
# output properties with sale prices to train.csv
train_output_file_path = '..\\data\\train.csv'
props_w_sales.to_csv(train_output_file_path) 
print(f"Properties with sales: {len(props_w_sales)}")

Properties with sales: 464

In [201]:
# OPTIONAL: output properties without sale prices to predict.csv
predict_output_file_path = '..\\data\\predict.csv'
props_wo_sales.to_csv(predict_output_file_path) 
print(f"Properties without sales: {len(props_wo_sales)}")

Properties without sales: 28125

In [211]:
# OPTIONAL: make separate sales data output
#sales = merged_sales_properties.loc[:, 'n_hood':]
#del sales['n_hood']
sales = merged_sales_properties[merged_sales_properties['SELL_PRICE'].notna()]

# output cleaned sales data to clean-sales-data.csv
sales.to_csv('..\\data\\clean-sales-data.csv')

# =END OF WORKING CODE=

### SCRATCH

In [ ]:
import csv
file_path = '..\\data\\raw\\addresses-base.csv'

with open(file_path, encoding='utf-8', newline='') as file:
    addresses_base = list(csv.reader(file))

addresses_base[:10]

In [27]:
def nested_list_contains(nl, target):
    for thing in nl:
        if type(thing) is list:
            if nested_list_contains(thing, target):
                return thing
        if thing == target:
            return thing
    return False

In [ ]:
index = df_sales_data.index
for i in index:
    try:
        address_to_find = i.strip()
        thing = nested_list_contains(addresses_base, address_to_find)
        add_id = thing[0]
        df_sales_data.at[i, 'ADD_ID'] = add_id
    except:
        df_sales_data.at[i, 'ADD_ID'] = np.nan

df_sales_data.head()

In [30]:
import requests

def get_coords(address_to_fetch):

    url = 'https://nominatim.openstreetmap.org/search/' + address_to_fetch +'?format=json'

    response = requests.get(url).json()
    lat = response[0]["lat"]
    lon = response[0]["lon"]

    return lat, lon

index = df_sales_data.index
for address in index:
    try:
        address_to_fetch = address + "Guelph Ontario"
        lat, lon = get_coords(address_to_fetch)
        df_sales_data.at[address, 'LAT'] = lat
        df_sales_data.at[address, 'LON'] = lon
    except:
        df_sales_data.at[address, 'LAT'] = np.nan
        df_sales_data.at[address, 'LON'] = np.nan